/*Soft reset do CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Para transição suave de uma section para outra: Smooth Scrolling*/
html {
  scroll-behavior: smooth;
}
body{
    background: url('../img/background-nuvens.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bellota Text', cursive;/*Fonte do GOOGLE*/
    height: 100vh;
    font-size: 12px;
  }

/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media(min-width: 400px){
 body{
   font-size: 14px;
 }
}

/*Se a tela tiver pelo menos 600px vai carregar estes estilos*/
@media(min-width: 600px){
  body{
    font-size: 18px;
  }
}

/*Se a tela tiver pelo menos 600px vai carregar estes estilos*/
@media(min-width: 1200px){
  body{
    font-size: 20px;
  }
}

.contato .icon{
 text-align: center;
 padding-top: 10em;

}

@media(min-width: 300px)
{
  .contato .icon{
    font-size: 0.8em;
   
   }
}

@media(min-width: 500px)
{
  .contato .icon{
    font-size: 1em;
   
   }
}

.contato a{
  color: #000000;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 5px 0px 5px rgb(255, 238, 0, 0.8);
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: white;
  position: fixed;    
  width: 100vw;
  top: 0px;
  z-index: 1;
}
  
.menu li{
  list-style: none;
}
  
.menu ul{
  display: flex;
  justify-content: space-around;
}
  
.menu a{
  display: block;
  padding: 10px 20px;
  transition: background-color 2s, color 2s, border-radius 2s;
  border-radius: 10%;
}

.menu a:active,
.menu a:hover{
  background-color: teal;
  color: whitesmoke;
  border-radius: 25%;
}

a{
  color: teal;
  text-decoration: none;
}

a:hover{
  text-decoration: underline
}

.titulo{  
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
  0% {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  100%{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}


.site-subtitle,
.site-title{
  color: white;
  text-align: center;  
  filter: drop-shadow(5px -2px 5px rgb(61, 60, 60))
}
  
.site-title{
  font-family: cursive;  
  font-size: 4em;
  margin-top: 50px;
}

.site-subtitle{
    /*font-family: monospace;*/
    font-family: 'DM Mono', monospace; /*Fonte do GOOGLE*/
    font-style: italic;
    line-height: 1.2em;
}

.sobre/*Acho que será necessário separar o sobre, pode ser que tenha que junto com contato e portifolio se for possivel retirar o display flex*/
{
  padding: 2em;
  min-height: 100vh;
  /*Eu que inseri talvez seja necessário retirar*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato,
.portifolio{
  padding: 2em;
  min-height: 100vh;

/*Eu que inseri talvez seja necessário retirar*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre h2,
.contato h2,
.portifolio h2{
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
  margin-bottom: 1.5em;
  padding: 10px 20px;
  margin-block-end: 0;    
}

.sobre p{
  color: #000000;
  margin-bottom: 1.4em;
  text-indent: 1.0em;
  text-align: justify;
}

.sobre a{
  color: #000000;
  text-decoration: underline;
}

.sobre a:hover{
  background-color: whitesmoke;
  text-decoration: none;
  color: crimson;
}

.sobre .avatar{
  float: right;
  margin-left: 2em;
}

@media (min-width: 300px){
  .sobre .avatar{
    float: none;
    margin-left: 0;    
    text-align: center;
    margin-bottom: 2em;
  }
}

@media (min-width: 450px){
  .sobre .avatar{
    float: right;
    margin-left: 2em;
    margin-bottom:0;
  }
}


.sobre .avatar img{  
  width: 350px;
  height: 350px;
  /*Faz tipo um crop na imagem e evita que ela fique distorcida*/
  object-fit: cover;
  /*Alinhar a posição da imagem nesse caso pra esquerda e pra baixo mais existem outros*/
  object-position: right top;
  
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

@media (min-width: 300px){
  .sobre .avatar img{  
    object-position: center top;
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 600px){
  .sobre .avatar img{  
    object-position: right top;
    width: 350px;
    height: 350px;
  }
}

.sobre .conteudo{
  padding: 0.5em;
}

.portifolio .grid{
  display: grid;
  gap: 2em;
}

@media (min-width: 1200px){
  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

@media (min-width: 560px){
  .portifolio .grid{
    grid-template-columns: 240px 240px;
    align-content: center;
    justify-content: center;  
  }
}

@media (min-width: 880px){
  .portifolio .grid{
    /*grid-template-columns: 240px 240px 240px;*/
    /*Equivale a linha de cima*/
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 4em - 48px -1.5em);
  }
}

.portifolio figure{
  text-align: center;  
}

.sobre .glass,
.contato .glass,
.portifolio .glass{
  background-color: rgba(192,217,217,0.3);
  border-radius: 10px;
  color: #000000;
  min-height: 80vh;
  width: 100vw;  
  
}

@media(min-width: 880px)
{
  .sobre .glass,
  .contato .glass,
  .portifolio .glass{
    height: 80vh;
    width: 90vw;  
  }
}

@media(min-width: 1100px)
{
  .sobre .glass,
  .contato .glass,
  .portifolio .glass{
    height: 90vh;
    width: 80vw;  
  }
}

@media (min-width: 300px){
  .sobre .glass,
  .contato .glass,
  .portifolio .glass{
    height: 160%;
    width: 100%;  
  }
}

/*
@media (min-width: 560px){
  .sobre .linha,
  .contato .linha,
  .portifolio .glass{
    height: 85vh;
    width: 100vw;  
  }
}*/

.sobre .linha,
.contato .linha,
.portifolio .linha{
  height: 2px;
  width: 100%;
  background-color: white;
  margin-block-end: 1.98em;
}

.glass {
  /*background-color: rgba(135,206,250,0.3);*/
  background-color: rgba(192,217,217,0.3);
  border-radius: 10px;
  color: #fff;
  display: block;
  height: 300px;
  width: 70vw;
}

@media(min-width: 600px)
{
  .glass{
    height: 370px;
  }
}

@media(min-width: 918px)
{
  .glass{
    height: 300px;
  }
}

.img-portfolio{
  width: 240px;
  height: 240px;
  /*Faz tipo um crop na imagem e evita que ela fique distorcida*/
  object-fit: cover;
  /*Alinhar a posição da imagem nesse caso pra esquerda e pra baixo mais existem outros*/
  object-position: left bottom;
  border-radius: 50%;
  
  transition: transform .4s, opacity .4s;  
}

.img-portfolio:hover{
  transform:scale(1.2) rotate(360deg);
  opacity: .8;
}
@media (min-height: 300px){
  .img-portfolio{
    width: 100px;
    height: 100px;
  }
}


@media (min-height: 600px){
  .img-portfolio{
    width: 240px;
    height: 240px;
  }
}


/*Não estão sendo usados as classes .flip-card e .card*/
.flip-card{
  
  perspective: 1000px;
}

.card{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.flip-card:hover .card{
  transform: rotateY(180deg);
}

.card-front, 
.card-back{
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card-back{
  background-color: white;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  transform: rotateY(180deg);
}

/*
@media(min-width: 1200px){
  .img-portfolio{
    height: auto;
    width: 100%;
    
  }
}
*/

.contato .conteudo{
  text-align: center;
  font-size: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.site-icones {
  width: 100px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.site-icones img {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  transition: text-shadow 1s;
}

.rodape{
  font-size: 0.8em;
  text-align: center;  
  height: 33vh;
  width: 100vw;
  vertical-align: bottom;
  display: table-cell;  
}

.down-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5em;
}

.down-arrow i{
  font-size: 2em;
}